// H-PANEL - START
.h-panel {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  @include breakpoint(1490px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint(991px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(671px) {
    grid-template-columns: repeat(1, 1fr);
  }

  gap: 25px;

  &__body {
    background-color: $white;
    padding: 36px 28px 28px 41px;
    border-radius: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    color: $font-main-color;
  }

  &__text {
    color: $font-secondary-color;
  }
}

// H-PANEL - END
