/*****************************************
*** PACKAGE ADDONS SECTION STYLE - START  ***
******************************************/

.package-addons {
  background-color: rgba($color: $light-color, $alpha: 0.4);
  padding: 24px 10px;
  margin-top: 22px;
}

/*****************************************
*** PACKAGE ADDONS SECTION STYLE - END  ***
******************************************/
