/*****************************************
*** WTABLE COMPONENT STYLE - START  ***
******************************************/

.w-table {
  background-color: $white-color;
  min-height: 60vh;
  padding: 28px 28px 0px;
  border-radius: 14px;
  margin: 10px 7px;

  .table.b-table > thead > tr > [aria-sort='none'],
  [dir] .table.b-table > tfoot > tr > [aria-sort='none'] {
    background-image: none;
  }

  tr {
    min-height: 78px !important;
    height: clamp(78px, 78px, 200px);
  }

  thead {
    border-radius: 14px !important;
    background-color: rgba($color: $light-color, $alpha: 0.6) !important;

    th {
      border: 0px;
      background-image: none !important;
      background-color: transparent !important;
      vertical-align: inherit;
      padding: 10px !important;

      &:first-child {
        border-top-left-radius: 14px !important;
        border-bottom-left-radius: 14px !important;
      }

      &:last-child {
        border-top-right-radius: 14px;
        border-bottom-right-radius: 14px;
      }
    }

    border-radius: 14px;
    border: 0px;
    span {
      color: $font-main-color;
      font-weight: 500;
    }
  }

  tbody {
    span {
      color: $font-sub-color;
      font-weight: 500;
      font-size: 14px;
    }

    td:not(:last-child) {
      min-width: 170px !important;
      padding: 10px !important;
    }

    tr {
      &:first-child {
        td {
          border-top: 0px;
        }
      }
    }
  }

  &.bordered {
    th,
    td {
      border: unset;
    }
  }
}

/*****************************************
*** WTABLE COMPONENT STYLE - END  ***
******************************************/
